@model TCS2010PPTG4.Models.CUser

@{
    Layout = "_Layout";
    ViewData["Title"] = "Assign Roles";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>

        body {
            background: linear-gradient(0.25turn, #ebf8e1, #4fd18e, #ebf8e1);
        }
        table {
            border-collapse: collapse;
            width: 400px;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>

    <h5 class="mt-4 mb-4 text-center">Assign role for @Html.DisplayFor(model => model.UserName) </h5>

    @{
        var currentRoles = (List<Microsoft.AspNetCore.Identity.IdentityRole>)ViewData["currentRoles"];

        <div class="row">
            <div class="col">
                <table class="table table-hover table-striped text-center align-middle">
                    <thead class="table-dark bg-primary">
                        <tr>
                            <th>
                                Role 
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in currentRoles)
                        {
                            <tr>
                                <td>
                                    @role.Id
                                </td>
                                <td>
                                    <form asp-action="DeleteRole">
                                        <input type="hidden" asp-for="Id" name="userId" />
                                        <input type="hidden" asp-for="@role.Id" name="roleId" />

                                        <div class="form-group">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

            <div class="col">
                <table class="table table-hover table-striped text-center align-middle">
                    <thead class="table-dark bg-primary">
                        <tr>
                            <th>
                                Add Student to this Department
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <form asp-action="AddToRole">
                                    <input type="hidden" asp-for="Id" name="userId" />
                                    @Html.ListBox("remainRoles", null, new { @class = "form-control", multiple = "multiple" })

                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="btn btn-primary">Add Roles</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    }

    <a asp-action="Index" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Back</a>

</body>
</html>
